{% extends 'Blog/base_blog.html' %}

{% load static %}

{% block head %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <h2>Title:{{ article.title }}</h2>
    <hr>
    <div>author：{{ article.author.name }}</div>
    <hr>
    <p>{{ article.content | safe }}</p>  {# 为解决html内容无法显示的问题，添加“safe”，但也使网站易被攻击 #}
    <hr>

{#    <input type="button" value="Delete" formtarget="_blank">#}
{#    <button formtarget="_parent">删除</button>#}    1      {# 不知道有没有更好的写法，这样写好丑。。。 #}
{#    <a href="{% url 'app:delete_article' article_id=article.id %}">删除</a>    {# kkk，早怎么没想到，一个a标签不就解决了嘛 #}
    {% if is_author %}
{#        <a href="{% url 'app1:delete_article' article_id=article.id %}">删除</a>#}
        <a href="{% url 'app1:delete_article' article_id=article.id %}">删除</a>
    {% elif is_login %}
{#        <span id="like" star_id="{{ article.owner.id }}" fan_id="{{ user.id }}">关注</span> &nbsp;&nbsp;&nbsp; <span>推荐</span>#}
        <span id="like" star_id="{{ article.author.id }}" fan_id="{{ user.id }}">关注</span> &nbsp
        <span id="recommend" article_id="{{ article.id }}" fan_id="{{ user.id }}" >赞</span> &nbsp
        <span id="mark" article_id="{{ article.id }}" fan_id="{{ user.id }}" >收藏</span>
        <br> <span id="AttentionHint"></span>
    {% endif %}

    <hr>
    <ul>
        <div><a href="{% url 'app1:add_article_comment' article_id=article.id %}">添加评论</a></div>
        {% for comment in comments %}
            <li>
                <div>
                    <span>{{ comment.owner.name }}</span> <br>
                    <p>{{ comment.content }}</p>
                </div>
            </li>
        {% empty %}
            <li>该文章目前还没有评论...</li>
        {% endfor %}
    </ul>



{% endblock %}

{% block js_code %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/my_js/blog/show_article.js' %}"></script>
{% endblock %}